<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Start a new thread here</p>
    <fieldset>
        <form action="/create-thread" method="post">
            <label for="message-text">First message:</label>
            <textarea placeholder="Enter your message. This will start the new thread" 
            name="message-text" id="message-text"></textarea>
            <br />
            <br />
            <label for="next-user">Who's up next?</label>
            <input placeholder="who is next on the chain?" type="text" name="next-user" id="next-user">
            <br />
            <br />
            <input type="submit">
        </form>
    </fieldset>
</body>
</html>