<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <h1>Welcome {{session['username']}}!</h1>
    <a href="/create-thread">Start a new thread</a>
    {% if threads %}
    <h3>Your threads:</h3>
        <ol>
            {% for thread in threads %}
                <li>
                    <a href="/view-thread/{{thread[1]}}">{{thread[0]}}
                        {% if thread[4] == session['user_id'] %}
                            (YOUR TURN)
                        {% elif (thread[2] < thread[3] and thread[5] != session['user_id']) %}
                        (NEW UNREAD)
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
</body>
</html>